---
import { SUBTITLES } from "$consts";
import Card from "@components/Card.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allChapters = await getCollection("book");
allChapters.sort((a, b) => a.data.chapter - b.data.chapter);
const bookNumbers = allChapters.map((chapter) => chapter.data.book);
const uniqueBookNumbers = [...new Set(bookNumbers)];
uniqueBookNumbers.sort((a, b) => a - b);
---

<BaseLayout>
  <main class="m-5 font-serif">
    {
      uniqueBookNumbers.map((bookNum) => (
        <div>
          <h1 class="mb-5 text-3xl font-bold">
            Book {bookNum} &mdash; {SUBTITLES[bookNum] || "Unknown"}
          </h1>
          <div class="flex flex-wrap gap-5">
            {allChapters
              .filter((chapter) => chapter.data.book === bookNum)
              .map((chapter) => (
                <Card
                  imagePath={`/src/assets/illustrations/${chapter.data.art}`}
                  altText=""
                  link={`/book/${chapter.id}`}
                  title={chapter.data.title}
                  subtitle={chapter.data.subtitle}
                />
              ))}
          </div>
        </div>
      ))
    }
  </main>
</BaseLayout>
