---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
interface Props {
  imagePath: string;
  altText: string;
  tooltip: string;
  color: string;
  link: string;
}

const { imagePath, altText, tooltip, color, link } = Astro.props;
const rgb = color
  .slice(1)
  .match(/.{2}/g)
  .map((x) => parseInt(x, 16));
const luminance = 0.2126 * rgb[0] + 0.7152 * rgb[1] + 0.0722 * rgb[2];
const fontColor = luminance > 110 ? "--color-base-content" : null;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif}",
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/**/*.{jpeg,jpg,png,gif}"`,
  );
---

<div
  class="tooltip tooltip-bottom max-w-screen transition duration-300 hover:z-30 hover:scale-105 sm:max-w-2xs"
  data-tip={tooltip}
  style={fontColor
    ? `--tt-bg: ${color}; --color-neutral-content: var(${fontColor});`
    : `--tt-bg: ${color};`}
>
  <!-- <a href={link}> -->
  <Image
    class="rounded"
    src={images[imagePath]()}
    alt={altText}
    loading="eager"
  />
  <!-- </a> -->
</div>
