---
import { SITE_TITLE } from "$consts";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
const allChapters = await getCollection("book");
allChapters.sort((a, b) => a.data.chapter - b.data.chapter);
const bookNumbers = allChapters.map((chapter) => chapter.data.book);
const uniqueBookNumbers = [...new Set(bookNumbers)];
uniqueBookNumbers.sort((a, b) => a - b);
const { title } = Astro.props;
const htmlMDash = " &mdash; ";
---

<div class="drawer lg:drawer-open">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <div class="navbar bg-secondary text-base-100 w-full">
      <div class="flex-none lg:hidden">
        <label for="my-drawer-3" class="btn btn-square btn-ghost"
          ><span class="sr-only">Open sidebar</span><Icon
            width="24"
            height="24"
            name="fa6-solid:bars"
          />
        </label>
      </div>
      <a href="/" class="mx-2 flex-1 px-2"
        >{SITE_TITLE}{title && <Fragment set:html={htmlMDash} />}{title}</a
      >
    </div>
    <div class="flex min-h-[calc(100lvh-4rem)] flex-col justify-between">
      <slot />
    </div>
  </div>
  <div class="drawer-side">
    <label for="my-drawer-3" class="drawer-overlay"
      ><span class="sr-only">Close sidebar</span></label
    >
    <ul class="menu bg-secondary text-base-100 min-h-full w-80 p-4">
      <li><a href="/">Home</a></li>
      <li>
        <details open>
          <summary>Books</summary>
          <ul>
            {
              uniqueBookNumbers.map((bookNum) => (
                <li>
                  <details open>
                    <summary>Book {bookNum}</summary>
                    <ul>
                      {allChapters
                        .filter((chapter) => chapter.data.book === bookNum)
                        .map((chapter) => (
                          <li>
                            <a href={`/book/${chapter.id}`}>
                              {chapter.data.title}
                            </a>
                          </li>
                        ))}
                    </ul>
                  </details>
                </li>
              ))
            }
          </ul>
        </details>
      </li>
      {
        /* TODO: Generate this navigation based on paths available under /wiki */
      }
      <li>
        <details>
          <summary>Wiki</summary>
          <ul>
            <li>
              <details>
                <summary>World</summary>
                <ul>
                  <li>
                    <a href="/wiki/world/courts"> Courts </a>
                  </li>
                </ul>
              </details>
            </li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
